
nodes:
{% for master in groups['rancher-master'] %}
- address: {{ master }}
  user: rancher
  ssh_key_path: /root/.ssh/id_rsa
  role: [ "controlplane", "etcd", "worker" ]
{% endfor %}

private_registries:
- url: nexus.swisssign.com:5000
  user: {{ rancher_nexus_user }}
  password: {{ rancher_nexus_password }}
  is_default: true
