
nodes:
{% for master in groups['rancher_master'] %}
- address: {{ master }}
  user: rancher
  ssh_key_path: /root/.ssh/id_rsa
  role: [ "controlplane", "etcd", "worker" ]
{% endfor %}

services:
  etcd:
    snapshot: true
    creation: 6h
    retention: 24h
